.App {
    text-align: center;
}

.App-title {
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.App-form {
    width: 50%;
    display: flex;
    justify-content: center;
}

.App-input {
    border: none;
    height: 35px;
    width: 200px;
}

.App-button {
    background-color: #e4fb61;
    border: none;
    box-shadow: 2px 2px 10px #151516;
    margin-left: 10px;
    min-width: 100px;
}
